<nav class="navbar navbar-dark bg-dark justify-content-between sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand">Social Media App</a>
        
        <form class="form-inline" method="" action="/chatroom">
            <button class="btn btn-outline-info my-2 my-sm-0 chat" type="submit">Chat</button>
        </form>
        <form class="form-inline" method="" action="/createpost">
            <button class="btn btn-outline-info my-2 my-sm-0 create" type="submit">Create Post</button>
        <form class="form-inline" method="POST" action="/logout">
            <button class="btn btn-outline-danger my-2 my-sm-0 logout" type="submit">Log Out</button>
        </form>
        
        </form>
        
        
    </div>
</nav>